<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, I like your style!</h1>
    <p><%= @message %></p>
    <p>Looking forward to getting inked!</p>
  </body>
</html>