<h1>Welcome, this is the home page</h1>  
<body>
  <button type="button" 
        class="btn btn-lg btn-danger"
        data-bs-toggle="popover" 
        title="Popover title" 
        data-bs-content="Amazing content, right ?">
        This is a button
  </button>
</body>