<h1 class="text-center">Discover Tattoo Ideas</h1>
<p class="text-center bi-eye-fill">

<body>
  <div class="container-sm pd-3 flex-md-column bg-dark align-content-center">
    <% @facade.each do |photo| %>
      <%= image_tag("#{photo.thumbnail}") %>
    <% end %>
  </div>
</body>